!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %title="{{ page.title }} | Stephen Suen"
    %meta{:name => "viewport", :content => "width=device-width"}

    <!-- jQuery -->
    %script{:type => "text/javascript", :src => "/assets/js/jquery-2.0.3.min.js"}

    <!-- Bootstrap -->
    %link{:rel => "stylesheet", :href => "/assets/css/bootstrap.css"}
    %script{:type => "text/javascript", :src => "/assets/js/bootstrap.min.js"}

    <!-- CSS -->
    %link{:rel => "stylesheet", :href => "/assets/css/main.css"}
    %link{:rel => "stylesheet", :href => "/assets/css/font-awesome.css"}
    %script{:type => "text/javascript", :src => "/assets/js/prefixfree.min.js"}

    <!-- Fonts -->
    %script{:type => "text/javascript", :src => "//use.typekit.net/fgl8dse.js"}
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

    %body
      %div.container
        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        {% include contact.html %}