---
layout: default
cover: image
image: self_main.jpg
cover-align: right
categories: home
title: Stephen Suen
subtitle: <span class="u-ns-wbr u-mt-0">I'm a designer and developer with a </span><span class="u-ns-wbr u-mt-0">passion for data-driven storytelling and </span><span class="u-ns-wbr u-mt-0">human-centered products on the web.</span>
subtitle-small: I make data tangible and user interfaces playful on the web.
---

<div class="Home-intro u-clearfix u-container">
  <div class="u-ns-inner">
    <h3 class="Home-section u-inlineBlock u-centerHorizontal u-textYellow">What I do</h3>
    <p class="u-mb-0">
      <span class="u-sm-wbr u-mt-0">My name is Stephen Suen, and I'm a designer and developer passionate about digital media and internet culture. </span>
      <span class="u-sm-wbr">I graduated from MIT's program in <a href="//cmsw.mit.edu">Comparative Media Studies</a> with a focus in data storytelling and product design. </span>
      <span class="u-sm-wbr">From ideation to iterative implementation, I create web apps, data visualizations, and games that inform and inspire, engage and entertain.</span></p>
  </div>
</div>

<div class="Home-caseStudies u-clearfix u-bgGray">
  <h3 class="Home-section u-inlineBlock u-centerHorizontal u-textYellow">My work</h3>
  <div class="u-ns-container">
    {% for item in site.work %}
      <div class="CaseStudy u-clearfix">
        <a class="CaseStudy-image u-block" href="{{ '/work/' | prepend: site.baseurl | append: item.slug }}" aria-hidden="true">
          <img src="{{ '/assets/img/' | prepend: site.baseurl | append: item.image }}" alt="{{ item.title }}" title="{{ item.title }}">
        </a>
        <a class="CaseStudy-content u-zi-1" href="{{ '/work/' | prepend: site.baseurl | append: item.slug }}" aria-label="{{ item.title }} - {{ item.subtitle }}">
          <div class="u-centerFlex">
            <h3 class="CaseStudy-title u-textUppercase">{% if item.shortname %}{{ item.shortname }}{% else %}{{ item.title }}{% endif %}</h3>
            <h2 class="CaseStudy-subtitle u-mt-0 u-textGray">{{ item.subtitle }}.</h2>
            <p class="CaseStudy-meta u-mb-0 u-textDarkGray"><strong>{{ item.year }}</strong><br>{{ item.services | join: ', ' }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
