/**
 * Header
 */

.Header {
  padding-bottom: scale(0);
  @include media($not-small) {
    padding-bottom: 0;
  }
  @media print {
    padding-bottom: 0;
  }

  &--noCover {
    padding-bottom: scale(3);
    @include media($not-small) {
      padding-bottom: 0;
    }
    @media print {
      padding-bottom: 0;
    }
  }

  /* Cover */

  &-overlay {
    background-color: rgba($black, .4);
  }

  &-coverImage {
    background-position: bottom center;
    background-size: cover;
    @include filter(blur(.1rem));
  }

  &-coverVideo {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 95vh;
    @include transform(translateX(-30%));
    @include filter(blur(.2rem));
    @include media($not-small) {
      @include transform(none);
    }
  }

  &-coverVideo::-webkit-media-controls-start-playback-button {
    display: none !important;
  }

  &-coverImage--alignLeft {
    background-position-x: left;
  }

  &-coverImage--alignRight {
    background-position-x: right;
  }

  &-coverImage--print {
    position: relative;
    width: 100%;
    height: 400px;
    margin: scale(0) 0 scale(-2);
    overflow-y: hidden;
  }

  &-coverImage--print > img {
    position: absolute;
    bottom: 0;
  }

  /* Content */

  &-content {
    @include media($not-small) {
      margin-top: -(scale(3));
    }
  }

  &-meta {
    font-family: $sans-font;
    font-size: scale(-1);
    letter-spacing: .1em;
    @media print {
      margin-top: scale(-2);
      margin-bottom: scale(-4);
      font-size: scale(-2);
      line-height: normal;
      letter-spacing: normal;
    }
  }

  &-title {
    font-size: scale(2);
    letter-spacing: .1em;
    @include media($medium) {
      font-size: 4rem;
    }
    @include media($large) {
      font-size: scale(3);
      letter-spacing: .25em;
    }
    @include media($xlarge) {
      font-size: scale(3);
      letter-spacing: .25em;
    }
    @media print {
      margin-top: scale(-4);
      font-size: scale(1);
      letter-spacing: normal;
    }
    &::after {
      content: '';
      display: block;
      width: scale(4);
      margin: scale(-3) 0;
      border-bottom: scale(-5) solid $primary-color;
      @include media($not-small) {
        border-bottom-width: scale(-4);
      }
      @media print {
        display: none;
      }
    }
  }

  &-meta + .Header-title {
    @media print {
      margin-top: 0;
    }
  }

  &-subtitle {
    font: 400 1.875rem $serif-font;
    line-height: 1.5;
    @include media($small) {
      font-size: 2rem;
    }
    @include media($medium) {
      font-size: 2rem;
    }
    @include media($large) {
      font-size: scale(1);
    }
    @include media($xlarge) {
      font-size: scale(1);
    }
    @media print {
      margin-top: 0;
      font-size: scale(0);
      font-style: italic;
    }
  }
}