/**
 * Resume
 */

.Resume {
  &-header {
    @include flex-direction(column);
    @include media($not-small) {
      @include flex-direction(row);
    }
    @media print {
      @include flex-direction(row);
    }
  }

  &-contact {
    @include order(2);
    margin-top: scale(0);
    @include media($not-small) {
      @include order(1);
      @include span-columns(3);
      margin-top: 0;
    }
    @media print {
      @include order(1);
      @include span-columns(2 of 9);
      margin-top: 0;
    }
  }

  &-contactItem {
    float: left;
    width: 100%;
    font-family: $sans-font;
    font-size: scale(-3);
    line-height: 1.5;
    @include media($small) {
      width: 50%;
      font-size: scale(-2);
    }
    @include media($not-small) {
      width: 100%;
      line-height: 1.25;
      text-align: right;
      &:last-child {
        float: right;
      }
    }
    @include media($large) {
      font-size: scale(-2);
    }
    @include media($xlarge) {
      font-size: scale(-2);
    }
    @media print {
      width: 100%;
      font-size: .75rem;
      line-height: 1.15;
      text-align: right;
      &:first-child {
        margin-bottom: scale(0);
      }
    }
    &::before {
      content: none;
    }
  }

  &-contactItem > a {
    @include media($not-small) {
      float: right;
    }
  }

  &-avatar {
    position: relative;
    right: -(scale(3) / 2);
    width: scale(3);
    height: scale(3);
    margin-bottom: scale(-2);
    @include media($medium) {
      margin-bottom: scale(-3);
    }
  }

  &-logo {
    position: relative;
    right: -(scale(0));
  }

  &-logoSvg {
    width: 3.25rem;
    height: 3.25rem;
  }

  &-title {
    @include media($not-small) {
      @include order(2);
      @include span-columns(9);
    }
    @include media($medium) {
      padding-left: flex-gutter(5);
    }
    @include media($large) {
      padding-left: flex-gutter(7);
    }
    @include media($xlarge) {
      padding-left: flex-gutter(9);
    }
    @media print {
      @include order(2);
      @include span-columns(7 of 9);
      padding-left: flex-gutter(9);
    }
  }

  &-name {
    font-size: scale(2);
    line-height: .875;
    @include media($not-xsmall) {
      font-size: scale(3);
    }
    @media print {
      font-size: 3.75rem;
    }
  }

  &-role {
    margin-top: scale(-1);
    letter-spacing: .1em;
    @include media($medium) {
      margin-top: 0;
      font-size: scale(-2);
    }
    @include media($xlarge) {
      letter-spacing: .25em;
    }
    @media print {
      margin-top: scale(-4);
    }
  }

  &-button {
    display: block;
    margin-top: scale(0);
    @include media($not-small) {
      display: inline-block;
      margin-top: 0;
      margin-left: scale(-4);
    }
  }

  &-aside {
    @include media($not-small) {
      @include span-columns(3);
    }
    @media print {
      @include span-columns(2 of 9);
    }
  }

  &-section {
    margin-top: scale(0);
    letter-spacing: .1em;
    @include media($not-small) {
      float: right;
    }
    @include media($medium) {
      font-size: scale(-2);
    }
    @include media($xlarge) {
      margin-right: -.25em;
      letter-spacing: .25em;
    }
    @media print {
      float: right;
      margin-top: scale(-3);
      font-size: scale(-2);
    }
  }

  &-item {
    @include media($not-small) {
      @include span-columns(9);
    }
    @include media($medium) {
      padding-left: flex-gutter(5);
    }
    @include media($large) {
      padding-left: flex-gutter(7);
    }
    @include media($xlarge) {
      padding-left: flex-gutter(9);
    }
    @media print {
      @include span-columns(7 of 9);
      padding-left: flex-gutter(9);
    }
  }

  &-aside + .Resume-item {
    margin-top: scale(-2);
    @include media($not-small) {
      margin-top: scale(0);
    }
    @media print {
      margin-top: scale(-3);
    }
  }

  &-education > .Resume-aside {
    & > .Resume-section,
    & + .Resume-item {
      @media print {
        margin-top: 0;
      }
    }
  }

  &-item + .Resume-item {
    @include media($not-small) {
      @include shift(3 of 12);
    }
    @media print {
      @include shift(2 of 9);
    }
  }

  &-itemTitle {
    font-weight: 400;
    text-transform: none;
    margin-bottom: scale(-4);
    @include media($medium) {
      font-size: scale(-2);
    }
    @media print {
      margin-bottom: 0;
      font-size: scale(-2);
    }
  }

  &-itemTitle > .Resume-itemLocation {
    font-style: italic;
    margin-left: scale(-4);
  }

  &-itemSubtitle {
    margin-bottom: scale(-5);
    font-size: scale(-2);
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    @include media($not-small) {
      line-height: normal;
    }
    @include media($medium) {
      letter-spacing: -.02em;
    }
    @include media($large) {
      font-size: scale(-1);
    }
    @include media($xlarge) {
      font-size: scale(-1);
    }
    @media print {
      margin-bottom: 0;
      font-size: scale(-3);
    }
  }

  &-itemDescription {
    margin-bottom: scale(-2);
    font-family: $sans-font;
    font-size: scale(-2);
    @include media($not-small) {
      margin-bottom: scale(0);
    }
    @include media($medium) {
      letter-spacing: -.02em;
    }
    @include media($large) {
      font-size: scale(-1);
    }
    @include media($xlarge) {
      font-size: scale(-1);
    }
    @media print {
      margin-bottom: scale(-3);
      font-size: scale(-3);
      line-height: 1.35;
      letter-spacing: -.01em;
    }
  }

  &-item:last-child > .Resume-itemDescription {
    margin-bottom: 0;
  }

  &-itemDescription > .u-ns-wbr::first-letter {
    @include media($not-small) {
      text-transform: uppercase;
    }
    @media print {
      text-transform: uppercase;
    }
  }
}
