<div class="Bio u-pt-hidden u-textCenter">
  <a href="{{ '/about' | prepend: site.baseurl }}" title="About me"><img class="Bio-avatar u-centerMargin u-circle" src="{{ '/assets/img/self_thumb.jpg' | prepend: site.baseurl }}"></a>
  <h3 class="Bio-name u-mb-0">Stephen Suen</h3>
  <p class="Bio-description u-ns-inner u-floatNone u-textGray">I'm a designer and developer with a passion for data-driven storytelling and human-centered products on the web.</p>
  <a class="Button Button--twitter u-textCenter u-textUppercase" href="//twitter.com/intent/follow?screen_name=s2tephen" title="Follow on Twitter" target="_blank" aria-label="Follow on Twitter"><i class="Button-icon fa fa-twitter"></i> Follow</a>
</div>