<header class="page-header{% if page.cover == 'full' %} page-header--full{% endif %}">
  {% if page.cover-img %}
    <div class="header-overlay"></div>
    <div class="header-cover{% if page.cover-align %} header-cover--{{ page.cover-align }}{% endif %}" style="background-image: url('{{ '/assets/img/' | prepend: site.baseurl | append: page.cover-img }}');"></div>
  {% elsif page.cover-vid %}
    <div class="header-overlay"></div>
    <video class="header-cover header-cover--video" autoplay loop muted poster="{{ '/assets/img/' | prepend: site.baseurl | append: page.cover-vid | append: '.jpg' }}">
      <source src="{{ '/assets/img/' | prepend: site.baseurl | append: page.cover-vid | append: '.webm' }}" type="video/webm">
      <source src="{{ '/assets/img/' | prepend: site.baseurl | append: page.cover-vid | append: '.mp4' }}" type="video/mp4">
    </video>
  {% endif %}
  {% include nav.html %}
  <div class="header-intro">
    {% if page.categories contains 'blog' %}
      <p class="meta">{{ page.date | date: '%b %-d, %Y' }}</p>
    {% elsif page.categories contains 'work' %}
      <p class="meta">{{ page.year }}</p>
    {% endif %}
    <h1 class="title">{{ page.title }}</h1>
    {% if page.subtitle-small %}
      <h2 class="subtitle subtitle--large">{{ page.subtitle }}</h2>
      <h2 class="subtitle subtitle--small">{{ page.subtitle-small }}</h2>
    {% else %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </div>
</header>
