<footer class="page-footer">
  <div class="footer-wrapper">
    {% if page.cover == 'full' and page.cover-credit %}
      <h4 class="footer-credit">{{ page.cover-credit }}</h4>
    {% endif %}
    <div class="footer-social">
      <h3>
        <a href="//twitter.com/s2tephen"><i class="fa fa-fw fa-twitter"></i> <span>Twitter</span></a>
        <a href="//github.com/s2tephen"><i class="fa fa-fw fa-github"></i> <span>GitHub</span></a>
        <a href="//linkedin.com/in/s2tephen"><i class="fa fa-fw fa-linkedin"></i> <span>LinkedIn</span></a>
      </h3>
    </div>
    <div class="footer-copy">
      <h3>
        &copy; 2015 Stephen Suen
      </h3>
    </div>
  </div>
</footer>
