<div class='row'>
  <div class='header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <nav class='navbar navbar-default' role='navigation'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='.navbar-ex1-collapse' data-toggle='collapse' type='button'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>{{ site.name }}</a>
      </div>
      <div class='collapse navbar-collapse navbar-ex1-collapse'>
        <ul class='nav navbar-nav'>
          <li>
            <a class='active' href='/'>About</a>
          </li>
          <li>
            <a href='/'>Blog</a>
          </li>
          <li>
            <a href='/'>Work</a>
          </li>
          <li>
            <a href='/assets/stephen-suen-resume.pdf'>Résumé</a>
          </li>
          <li>
            <a data-toggle='modal' href='#contact'>Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
