{% if include.class %}
  {% capture class-list %}{% assign classes = include.class | split: ' ' %}{% for class in classes %}{% assign chunks = class | split: '-' %} Image--{{ chunks | first }}{% assign remainder = chunks | shift %}{% for chunk in remainder %}{{ chunk | capitalize }}{% endfor %}{% endfor %}{% endcapture %}
  <figure class="Image{{ class-list }}">
{% else %}
  <figure class="Image">
{% endif %}
{% if include.src %}
  <img src="{{ '/assets/img/' | prepend: site.baseurl | append: include.src }}" alt="{{ include.alt }}" title="{{ include.alt }}">
{% endif %}
{% if include.caption %}
  <figcaption class="Image-caption u-textGray" aria-hidden="true">{{ include.caption }}</figcaption>
{% endif %}
</figure>
