---
---

/* Variables/Mixins */

@import 'bourbon/bourbon';
@import 'neat/neat';

$max-width: 80%;
$sans: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'TisaPro', Georgia, serif;
$font-size: 1.5rem;
$icon-size: 1.1rem;
$primary: rgb(243,178,21);

@mixin vertical-center {
  @include position(relative, 50% null null null);
  @include transform(translateY(-50%));
}

@mixin shadow {
  text-shadow: 0 1px 4px rgba(0,0,0,.3);
}

/* Global */

.preload * {
  @include transition(none !important);
}

html, body {
  width: 100%
}

body {
  margin: 0;
}

p {
  margin: 0 0 $font-size;
  font-size: $font-size;
  line-height: golden-ratio($font-size, 1);
  font-family: $serif;
}

ul {
  padding-left: 0;
  margin: 0 0 $font-size;
}

li {
  margin: 0 0 golden-ratio($font-size, -1);
  font-size: $font-size;
  line-height: golden-ratio($font-size, 1);
  font-family: $serif;
  list-style-type: none;
}

li:before {
  content: '\25A0';
  margin-right: $font-size;
}

h1, h2, h3 {
  margin: 0 0 $font-size;
  font-family: $sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: golden-ratio($font-size, 1);
}

h2 {
  font-size: $font-size;
  margin-top: golden-ratio($font-size, 1);
  &:first-of-type {
    margin-top: $font-size;
  }
}

h3 {
  font-size: golden-ratio($font-size, -1);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  padding-bottom: golden-ratio($font-size, -5);
  border-bottom: 1px dotted rgb(204,204,204);
  color: $primary;
  @include transition(color .3s linear);
  &:hover {
    color: rgb(0,0,0);
  }
  &:focus {
    outline: thin dotted;
  }
}

.wrapper {
  @include outer-container;
}

.col-1 { @include span-columns(1); }
.col-2 { @include span-columns(2); }
.col-3 { @include span-columns(3); }
.col-4 { @include span-columns(4); }
.col-5 { @include span-columns(5); }
.col-6 { @include span-columns(6); }
.col-7 { @include span-columns(7); }
.col-8 { @include span-columns(8); }
.col-9 { @include span-columns(9); }
.col-10 { @include span-columns(10); }
.col-11 { @include span-columns(11); }
.col-12 { @include span-columns(12); }

@include media(print) {
  .col-1-print { @include span-columns(1); }
  .col-2-print { @include span-columns(2); }
  .col-3-print { @include span-columns(3); }
  .col-4-print { @include span-columns(4); }
  .col-5-print { @include span-columns(5); }
  .col-6-print { @include span-columns(6); }
  .col-7-print { @include span-columns(7); }
  .col-8-print { @include span-columns(8); }
  .col-9-print { @include span-columns(9); }
  .col-10-print { @include span-columns(10); }
  .col-11-print { @include span-columns(11); }
  .col-12-print { @include span-columns(12); }
}

.hide-print {
  @include media(print) {
    display: none;
  }
}

.show-print {
  display: none;
  @include media(print) {
    display: block;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  background-color: rgb(153,153,153);
  color: rgb(255,255,255);
  font-family: $sans;
  font-size: golden-ratio($font-size, -1);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  @include transition(background-color .3s linear);
  &:hover {
    background-color: $primary;
    color: rgb(255,255,255)
  }
  i {
    float: left;
    margin-top: 2px;
  }
}

/* Header */

header {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  @include media(print) {
    display: none;
  }
  .cover {
    @include position(absolute, 0 null null null);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background: rgba(0,0,0,.5);
  }
  .img {
    @include position(absolute, 0 null null null);
    height: 105vh;
    width: 105vw;
    background-position: bottom right;
    background-size: cover;
    -webkit-filter: blur(1px);
  }
  nav {
    @include outer-container;
    @include position(relative, 20px null null null);
    z-index: 2;
    .logo {
      @include position(absolute, 0 null null 0);
      padding-bottom: 0;
      border-bottom: 0;
      path {
        fill: rgb(255,255,255);
        @include transition(fill .3s linear);
      }
      &:hover {
        cursor: pointer;
        path {
          fill: $primary;
        }
      }
    }
    .menu {
      @include position(absolute, 10px 0 null null);
      li {
        display: inline;
        margin-left: 5vw;
        list-style-type: none;
        &:before {
          content: none;
        }
        a {
          padding-bottom: golden-ratio($font-size, -2);
          border-bottom: 3px solid rgba(255,255,255,0);
          font-family: $sans;
          color: rgb(255,255,255);
          @include transition(border-bottom .3s linear);
          &:hover {
            border-bottom: 3px solid rgba(255,255,255,1);
          }
        }
        &.active a {
          color: $primary;
          border-bottom: 3px solid $primary;
          &:hover {
            border-bottom-color: $primary;
          }
        }
      }
    }
  }
  .intro {
    @include vertical-center;
    @include outer-container;
    z-index: 2;
    h1 {
      font-weight: 400;
      color: rgb(255,255,255);
      @include shadow;
    }
  }
}

.no-cover {
  height: auto;
  nav {
    margin-bottom: 20px;
    .logo {
      position: relative;
      path {
        fill: rgb(0,0,0);
      }
    }
    .menu {
      position: relative;
      float: right;
      li a {
        color: rgb(0,0,0);
        &:hover {
          border-bottom-color: rgb(0,0,0);
        }
      }
    }
  }
}

/* Main */

.main {
  @include outer-container;
  margin-top: $font-size;
  @include media(print) {
    max-width: 100%;
    margin-top: 0;
  }
}

article {
  @include span-columns(8);
  @include shift(2);
  > p {
    @include fill-parent;
  }
  > aside {
    &.left {
      @include span-columns(6);
      @include shift(-3);
    }
    &.right {
      @include span-columns(6);
      @include row($direction: RTL);
      @include shift(-3);
      margin-left: $gutter;
      float: right;
      + p {
        @include reset-layout-direction;
      }
    }
    &.full {
      @include span-columns(12 of 8);
      @include shift(-2);
      @include omega;
    }
  }
}

/* Resume */
.resume {
  @include fill-parent;
  @include shift(0);
  .resume-head {
    @include fill-parent;
    @include row();
    h1 {
      line-height: golden-ratio($font-size, 1);
    }
    .contact h3,
    .contact p
    {
      line-height: $font-size;
      @include media(print) {
        line-height: 1.2rem;
      }
    }
    .controls {
      a {
        display: block;
        @include media(print) {
          display: none;
        }
        &:first-of-type {
          margin-bottom: 5px;
        }
      }  
    }
  }
  h3 {
    margin-bottom: golden-ratio($font-size, -1);
    color: $primary;
    letter-spacing: 2px;
    @include media(print) {
      font-size: golden-ratio($icon-size, -1);
    }
  }
  p {
    font-family: $sans;
    font-size: $icon-size;
    @include media(print) {
      font-size: 0.8rem;
      line-height: $icon-size;
      margin-bottom: $icon-size;
    }
    .job-title {
      color: rgb(153,153,153);
      @include media(print) {
        text-align: right;
        display: block;
        strong {
          float: left;
        }
      }
    }
  }
  .resume-body {
    @include row();
  }
  .resume-experience {
    @include media(print) {
      margin-right: 0;
      float: right;
    }
  }
}

/* Footer */

footer {
  background-color: $primary;
  margin-top: $font-size;
  padding: golden-ratio($font-size, -1) 0;
  @include media(print) {
    display: none;
  }
  h3 {
    margin-bottom: 0;
  }
  a {
    color: rgb(0,0,0);
    border-bottom: 1px solid rgba(0,0,0,1);
    @include transition(border-bottom .3s linear);
    &:hover {
      border-bottom: 1px solid rgba(0,0,0,0);
    }
  }
  .credit {
    float: left;
  }
  .social {
    float: right;
    a {
      margin-left: $icon-size;
      padding-bottom: 0;
      border: 0;
      &:hover span {
        border-bottom: 1px solid rgba(0,0,0,0);
      }
      i {
        font-size: $icon-size;
      }
      span {
        margin-left: golden-ratio($icon-size, -2);
        padding-bottom: golden-ratio($font-size, -5);
        border-bottom: 1px solid rgba(0,0,0,1);
        @include transition(border-bottom .3s linear);
      }
    }
  }
}