p, li, body, .preview .subtitle, h3.subtitle {
  font-family: "TisaPro" !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .header .navbar a, .footer .credits p, .footnote p, .preview .meta {
  font-family: "DagnyPro" !important;
}

html {
  height: 100%;
}

body {
  background: #fdfdfd;
  border: 1em solid #fcd18c;
  min-height: 100%;
  @media screen and (max-width: 767px) {
    border-width: 0.75em;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
}

.title {
  font-size: 3.2em;
  font-weight: 900;
  margin-top: 0;
}

a {
  color: #ff9809;
  border-bottom: 1px dotted #ccc;
  transition: color .3s;
  &:hover {
    color: #000;
    text-decoration: none;
  }
  &:focus {
    color: #ff9809;
    text-decoration: none;
    outline: 0;
  }
}

p {
  font-size: 1.6em;
  margin-bottom: 20px;
}

hr {
  margin-top: 0;
  border-top: 1px solid #ccc;
}

.header {
  .navbar {
    border: 0;
    border-bottom: 1px solid #ccc;
    background: none;
    @media screen and (min-width: 768px) {
      padding: 15px 0 0;
    }
    .navbar-collapse {
      border-color: #ccc;
    }
    a {
      border-bottom: 0;
      font-size: 1.4em;
      &.navbar-brand {
        font-weight: bold;
        padding-left: 0;
        color: #999;
        &:hover {
          color: #ff9809;
        }
      }
    }
    .navbar-toggle {
      margin-right: 0;
    }
    .nav {
      li {
        a {
          color: #999;
          &:hover {
            color: #ff9809;
          }
          &.active {
            color: #ff9809;
            &:hover {
              cursor: default;
            }
          }
        }
      }
    }
  }
}

.main {
  .title {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 2.4em;
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin-top: 0;
  }
  .meta {
    p {
      font-size: 1.2em;
      color: #999;
    }
    .social {
      a {
        text-align: right;
        font-size: 1.2em;
        margin-left: 10px;
        color: #999;
        border-bottom: 0;
        i {
          margin-right: 5px;
        }
        span {
          @media screen and (min-width: 768px) {
            display: inline !important;
          }
        }
        &:hover {
          color: #ff9809;
        }
      }
    }
  }
  .post {
    ul {
      padding-left: 3em;
      li {
        font-size: 1.6em;
        margin-bottom: 20px;
      }
    }
    img {
      width: 100%;
    }
    blockquote {
      border-left: 0;
      padding: 0;
      @media screen and (max-width: 767px) {
        padding: 0 15px;
      }
      p {
        font-size: 2.4em;
        font-weight: bold;
        font-style: italic;
        padding: 0;
        &.basic {
          padding: 0 15px;
          @media screen and (max-width: 767px) {
            padding: 0;
          }
        }
      }
    }
    a[href^="#fn-"] {
      vertical-align: super;
      font-size: 0.5em;
      font-weight: bold;
      border-bottom: 0;
    }
    .footnote {
      p {
        font-size: 0.8em;
        @media screen and (max-width: 767px) {
          font-size: 0.9em;
          padding: 0 15px;
        }
        color: #999;
      }
      span {
        font-weight: bold;
        color: #ff9809;
      }
      a[href^="#fnref-"] {
        font-weight: bold;
        border-bottom: 0;
        display: inline;
        @media screen and (min-width: 768px) {
          display: none;
        }
        &:before {
          content: " ";
        }
      }
    }
    .caption {
      font-style: italic;
      color: #999;
      margin-top: 10px;
      font-size: 0.8em;
      @media screen and (min-width: 768px) {
        text-align: right;
        font-size: 1em;
        margin-top: 0;
        &:before {
          content: "";
          border-top: 1px solid #999;
          width: 25%;
          margin-left: 75%;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}

.preview-container {
  padding: 0;
  a {
    border: 0;
  }
  .divider {
    margin: 0 15px;
    &:last-child {
      display: none !important;
    }
  }
}

.preview {
  color: #000;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  > .cover {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: background .3s;
    z-index: 2;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .meta {
      color: #fff;
      opacity: 0;
      transition: opacity .3s;
    }
    @media screen and (max-width: 767px) {
      margin-left: -15px;
      .meta {
        padding-right: 15px;
      }
    }
  }
  &:hover {
    > .cover {
      background: rgba(0, 0, 0, 0.5);
      .meta {
        opacity: 1.0;
      }
    }
    .img-wrapper > .cover {
      background: rgba(0, 0, 0, 0.5);
      .meta {
        opacity: 1.0;
      }
    }
  }
  &.featured {
    margin-top: 15px;
    padding: 0 15px;
    .wrapper {
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      transition: background .3s;
      margin: 0 15px;
      left: 0;
      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
      .title {
        color: #fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        font-size: 3.2em;
      }
      .subtitle {
        color: #ccc;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        font-size: 2.4em;
      }
      p {
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        &.meta {
          color: #ccc;
          font-size: 1.2em;
        }
        &.excerpt {
          color: #fff;
          font-size: 1.6em;
          margin-top: 20px;
        }
      }
      > div {
        padding: 0;
        top: 50%;
        -webkit-transform: translateY(-25%);
           -moz-transform: translateY(-25%);
            -ms-transform: translateY(-25%);
             -o-transform: translateY(-25%);
                transform: translateY(-25%);
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          -webkit-transform: translateY(-35%);
             -moz-transform: translateY(-35%);
              -ms-transform: translateY(-35%);
               -o-transform: translateY(-35%);
                  transform: translateY(-35%);
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .title {
            font-size: 2.4em;
          }
          .subtitle {
            font-size: 1.6em;
          }
          p {
            &.meta {
              font-size: 1em;
            }
            &.excerpt {
              font-size: 1.2em;
            }
          }
        }
        h2, h3, p {
          margin: 0 -15px
        }
      }
    }
    img {
      margin: 0;
    }
  }
  .meta {
    margin: 20px 0 0;
    font-size: 1em;
    color: #999;
  }
  .img-wrapper {
    margin: 15px 0;
    position: relative;
    float: left;
    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background .3s;
      .meta {
        opacity: 0;
        transition: opacity .3s;
        color: #fff;
        font-size: 1.6em;
        top: 50%;
        position: absolute;
        margin-top: -0.5em;
        width: 100%;
        text-align: center;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }
  .title {
    margin: 0;
    font-size: 2em;
  }
  .subtitle {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin-top: 0;
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
  }
}

.footer {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  .credits {
    border-top: 1px solid #ccc;
    padding: 15px 0;
    color: #999;
    p {
      font-size: 0.9em;
    }
    .social {
      margin-top: -4px;
      a {
        font-size: 1.2em;
        margin-left: 5px;
        color: #999;
        border-bottom: 0;
        &:hover {
          color: #ff9809;
        }
      }
    }
  }
}

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
  .modal-content {
    box-shadow: none;
    .modal-body {
      div {
        display: inline-block;
        margin-left: 15px;
        position: absolute;
        top: 22px;
      }
      p {
        font-size: 1.2em;
        margin-bottom: 0;
      }
    }
  }
}