p, li, body, .preview .subtitle, h3.subtitle {
  font-family: "TisaPro" !important;
}

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6, .header .navbar a, .footer .credits p, .footnote p, .preview .meta {
  font-family: "DagnyPro" !important;
}

html {
  height: 100%;
}

body {
  background: #fdfdfd;
  border: 1em solid #fcd18c;
  padding-top: 70px;
  min-height: 100%;
  @media screen and (max-width: 767px) {
    border-width: 0.75em;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.title {
  font-size: 3.2em;
  font-weight: 900;
  margin-top: 0;
}

a {
  color: #ff9809;
  border-bottom: 1px dotted #ccc;
  transition: color .3s;
  &:hover {
    color: #000;
    text-decoration: none;
  }
  &:focus {
    color: #ff9809;
    text-decoration: none;
    outline: 0;
  }
}

p {
  font-size: 1.6em;
  margin-bottom: 20px;
}

hr {
  margin-top: 0;
  border-top: 1px solid #ccc;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-top: 1em solid #fcd18c;
  .container {
    background: #fff;
    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }
    .navbar {
      border: 0;
      padding: 5px 0;
      margin-bottom: 0;
      border-radius: 0;
      background: none;
      box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
      @media screen and (max-width: 767px) {
        padding-bottom: 0px;
      }
      .navbar-header {
        @media screen and (max-width: 767px) {
          padding-bottom: 5px;
        }
        .logo {
          left: 0;
          width: 40px;
          position: absolute;
          margin-top: 5px;
        }
        .navbar-toggle {
          border: 0;
          .icon-bar {
            background: #000;
            height: 3px;
          }
        }
      }
      .navbar-collapse {
        border: 0;
        padding: 0;
        overflow: hidden;
      }
      a {
        border-bottom: 0;
        font-size: 1.2em;
        &.navbar-brand {
          font-weight: 900;
          padding: 15px 0;
          margin-left: 65px;
          @media screen and (max-width: 767px) {
            width: 100%;
            margin-left: 0;
            position: absolute;
            text-align: center;
          }
          color: #000;
          &:hover {
            color: #ff9809;
          }
        }
      }
      .navbar-toggle {
        margin-right: 0;
        z-index: 2;
      }
      .nav {
        margin: 0 -15px;
        @media screen and (min-width: 768px) {
          margin-left: 15px;
        }
        li {
          a {
            color: #999;
            @media screen and (max-width: 767px) {
              border-top: 1px solid #eee;
              font-size: 1.2em;
              div {
                width: 100%;
                text-align: center;
                i {
                  float: left;
                  position: absolute;
                }
              }
              &:after {
                content: "";
                clear: both;
                display: table;
              }
            }
            &:hover {
              color: #ff9809;
            }
            &.active {
              color: #ff9809;
              &:hover {
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}

.main {
  .title {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 2.4em;
    font-weight: 400;
    font-style: italic;
    color: #999;
    margin-top: 0;
  }
  .meta {
    p {
      font-size: 1.2em;
      color: #999;
    }
    .social {
      a {
        text-align: right;
        font-size: 1.2em;
        margin-left: 10px;
        color: #999;
        border-bottom: 0;
        i {
          margin-right: 5px;
          &:last-of-type {
            margin-right: 0;
          }
        }
        span {
          @media screen and (min-width: 768px) {
            display: inline !important;
          }
        }
        &:hover {
          color: #ff9809;
        }
      }
    }
  }
  .post {
    ul {
      padding-left: 3em;
      li {
        font-size: 1.6em;
        margin-bottom: 20px;
      }
    }
    img {
      width: 100%;
    }
    blockquote {
      border-left: 0;
      padding: 0;
      @media screen and (max-width: 767px) {
        padding: 0 15px;
      }
      p {
        font-size: 2.4em;
        font-weight: 700;
        font-style: italic;
        padding: 0;
        &.basic {
          padding: 0 15px;
          @media screen and (max-width: 767px) {
            padding: 0;
          }
        }
      }
    }
    a[href^="#fn-"] {
      vertical-align: super;
      font-size: 0.5em;
      font-weight: 700;
      border-bottom: 0;
    }
    .footnote {
      @media screen and (max-width: 767px) {
        padding-left: 0;
      }
      p {
        font-size: 0.8em;
        margin-bottom: 0;
        @media screen and (max-width: 767px) {
          font-size: 0.9em;
          padding: 0 15px;
          margin-bottom: 20px;
        }
        color: #999;
      }
      span {
        font-weight: 700;
        color: #ff9809;
      }
      a[href^="#fnref-"] {
        font-weight: 700;
        border-bottom: 0;
        display: inline;
        @media screen and (min-width: 768px) {
          display: none;
        }
        &:before {
          content: " ";
        }
      }
    }
    .caption {
      font-style: italic;
      color: #999;
      margin-top: 10px;
      font-size: 0.8em;
      @media screen and (min-width: 768px) {
        text-align: right;
        font-size: 1em;
        margin-top: 0;
        &:before {
          content: "";
          border-top: 1px solid #999;
          width: 25%;
          margin-left: 75%;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}

.preview-container {
  padding: 0;
  a {
    border: 0;
  }
  .divider {
    border-top-color: #ddd;
    margin: 0 15px;
    &:last-child {
      display: none !important;
    }
  }
}

.preview {
  color: #000;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  img {
    width: 100%;
  }
  > .cover {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: background .3s;
    z-index: 2;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .meta {
      color: #fff;
      opacity: 0;
      transition: opacity .3s;
    }
    @media screen and (max-width: 767px) {
      margin-left: -15px;
      .meta {
        padding-right: 15px;
      }
    }
  }
  &:hover {
    > .cover {
      background: rgba(0, 0, 0, 0.5);
      .meta {
        opacity: 1.0;
      }
    }
    .img-wrapper > .cover {
      background: rgba(0, 0, 0, 0.5);
      .meta {
        opacity: 1.0;
      }
    }
  }
  &.featured {
    margin-top: 15px;
    padding: 0 15px;
    .wrapper {
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      transition: background .3s;
      margin: 0 15px;
      left: 0;
      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
      .title {
        color: #fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        font-size: 3.2em;
      }
      .subtitle {
        color: #ccc;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        font-size: 2.4em;
      }
      p {
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        &.meta {
          color: #ccc;
          font-size: 1.2em;
        }
        &.excerpt {
          color: #fff;
          font-size: 1.6em;
          margin-top: 20px;
        }
      }
      > div {
        padding: 0;
        top: 50%;
        -webkit-transform: translateY(-25%);
           -moz-transform: translateY(-25%);
            -ms-transform: translateY(-25%);
             -o-transform: translateY(-25%);
                transform: translateY(-25%);
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          -webkit-transform: translateY(-35%);
             -moz-transform: translateY(-35%);
              -ms-transform: translateY(-35%);
               -o-transform: translateY(-35%);
                  transform: translateY(-35%);
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .title {
            font-size: 2.4em;
          }
          .subtitle {
            font-size: 1.6em;
          }
          p {
            &.meta {
              font-size: 1em;
            }
            &.excerpt {
              font-size: 1.2em;
            }
          }
        }
        h2, h3, p {
          margin: 0 -15px
        }
      }
    }
    img {
      margin: 0;
    }
  }
  .meta {
    margin: 20px 0 0;
    font-size: 1em;
    color: #999;
    @media screen and (max-width: 767px) {
      margin: 2px 0 10px;
    }
  }
  .img-wrapper {
    margin: 15px 0;
    position: relative;
    float: left;
    @media screen and (max-width: 767px) {
      margin: 20px 0 10px;
    }
    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background .3s;
      .meta {
        opacity: 0;
        transition: opacity .3s;
        color: #fff;
        font-size: 1.6em;
        top: 50%;
        position: absolute;
        margin-top: -0.5em;
        width: 100%;
        text-align: center;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }
  .title {
    margin: 0;
    font-size: 2em;
  }
  .subtitle {
    font-weight: 400;
    font-style: italic;
    color: #999;
    margin-top: 0;
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
  }
}

.work-container {
  margin-top: 15px;
  margin-bottom: 15px;
  .thumbs {
    .thumb-wrapper {
      &:last-child .thumb {
        margin-bottom: 0;
      }
      @media screen and (min-width: 768px) {
        padding-right: 0;
        &:nth-last-child(-n+3) .thumb {
          margin-bottom: 0;
        }
      }
      .thumb {
        position: relative;
        margin-bottom: 15px;
        .cover {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          color: #fff;
          font-size: 0.8em;
          padding: 15px;
          text-align: center;
          z-index: 2;
          transition: background .3s;
          @media screen and (max-width: 767px) {
            font-size: 1.2em;
          }
          &.external {
            > .outer {
              &:after {
                font-family: "FontAwesome";
                content: "\f08e";
                float: right;
                font-size: 1.2em;
              }
            }
          }
          &:hover {
            background: rgba(0,0,0,0.4);
            cursor: pointer;
            > .outer {
              opacity: 1.0;
            }
          }
          > .outer {
            position: relative;
            height: 100%;
            opacity: 0;
            transition: opacity .3s;
            .inner {
              position: absolute;
              top: 50%;
              width: 100%;
              height: 3em;
              margin-top: -1.5em;
              h3 {
                font-weight: 700;
                margin: 0;
                font-size: 1.05em;
              }
            }
          }
        }
        img {
          width: 100%;
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
          filter: gray;
          -webkit-filter: grayscale(1);
          -webkit-filter: grayscale(100%);
             -moz-filter: grayscale(100%);
              -ms-filter: grayscale(100%);
               -o-filter: grayscale(100%);
                  filter: grayscale(100%);
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          transition: all 0.3s;
        }
        &:hover {
          img {
            filter: none;
            -webkit-filter: grayscale(0);
               -moz-filter: grayscale(0);
                -ms-filter: grayscale(0);
                 -o-filter: grayscale(0);
                    filter: grayscale(0);
          }
        }
        &.active {
          .cover {
            &:hover {
              cursor: none;
            }
          }
          img {
            filter: none;
            -webkit-filter: grayscale(0);
               -moz-filter: grayscale(0);
                -ms-filter: grayscale(0);
                 -o-filter: grayscale(0);
                    filter: grayscale(0);
            transition: all 0.65s;
          }
        }
      }
    }
  }
  .description {
    display: none;
    padding: 0 15px;
    .well {
      height: 100%;
      margin: 0;
      overflow-y: auto;
      > div {
        h2 {
          margin: 0;
        }
        h3 {
          font-style: italic;
          font-weight: 400;
          color: #999;
          margin-top: 0;
          margin-bottom: 20px;
          font-size: 1.4em;
        }
        img {
          width: 100%;
        }
        i {
          margin-right: 5px;
        }
        p:last-child {
          margin: 0;
          a {
            border: 0;
            font-size: 0.85em;
          }
        }
      }
    }
  }
}

.footer {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  .credits {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    color: #999;
    a:hover {
      color: #999;
    }
    p {
      font-size: 0.9em;
    }
    .social {
      margin-top: -4px;
      a {
        font-size: 1.2em;
        margin-left: 5px;
        color: #999;
        border-bottom: 0;
        &:hover {
          color: #ff9809;
        }
      }
    }
  }
}

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
  .modal-content {
    box-shadow: none;
    .modal-body {
      div {
        display: inline-block;
        margin-left: 15px;
        position: absolute;
        top: 22px;
      }
      p {
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}
