---
layout: default
title: Blog
categories: blog
---

{% for post in paginator.posts %}
  <div class="preview">
    <a class="preview-header" href="{{ post.url | prepend: site.baseurl }}">
      <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      <h1 class="title">{{ post.title }}</h1>
      {% if post.subtitle %}<h2 class="subtitle">{{ post.subtitle }}</h2>{% endif %}
    </a>
    <div class="preview-content">
      {{ post.excerpt }}
      <a class="preview-link" href="{{ post.url | prepend: site.baseurl }}" title="Continue reading"></a>
    </div>
  </div>
{% endfor %}