\---
layout: default
title: Work
\---
%div.row
  %div.main.col-xs-12.col-sm-12.col-md-12.col-lg-12
    %h2.title Work
%div.work-container
  %div.row
    %div.thumbs.col-xs-12.col-sm-6.col-md-6.col-lg-6
      %div.row
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Has the Gov't Lied on Snooping?
                  code, journalism, design
            %img{:src => '/assets/img/work_nsaclaims.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 CivOmega
                  code, design
            %img{:src => '/assets/img/work_civomega.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Monkey Business
                  branding, code, design
            %img{:src => '/assets/img/work_mbiz.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Bridge
                  design, user research
            %img{:src => '/assets/img/work_bridge.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Hitched
                  branding, code, design
            %img{:src => '/assets/img/work_hitched.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Under Pressure
                  data, journalism
            %img{:src => '/assets/img/work_pressure.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Cambridge Food Inspections
                  code, data, journalism
            %img{:src => '/assets/img/work_foodmap.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Snackshot
                  design, user research
            %img{:src => '/assets/img/work_snackshot.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Coached to Poach
                  design, writing
            %img{:src => '/assets/img/work_remixig.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Vojo.co
                  branding, design
            %img{:src => '/assets/img/work_vojo.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Nekuvo
                  branding, design
            %img{:src => '/assets/img/work_nekuvo.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Fourparking
                  design, user research
            %img{:src => '/assets/img/work_fourpark.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 21st Century Boy
                  code, journalism, design
            %img{:src => '/assets/img/work_21cb.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %div.cover
              %div.outer
                %div.inner
                  %h3 Writing Samples
                  journalism, writing
            %img{:src => '/assets/img/work_writing.png'}
        %div.thumb-wrapper.col-xs-12.col-sm-4.col-md-4.col-lg-4
          %div.thumb
            %a{:href => 'http://github.com/s2tephen'}
              %div.cover.external
                %div.outer
                  %div.inner
                    %h3 GitHub
                    code, design
              %img{:src => '/assets/img/work_github.png'}
    %div.description.col-sm-6.col-md-6.col-lg-6
      %div.well
        %div
          %p Here you will find samples of some of my work in and out of the classroom. Click a thumbnail to read more about that specific project.
          %p My work spans a diverse range of fields, including software engineering, journalism, social sciences, and design.
          %p More detailed information and materials for these projects are available upon request.

%script{:src => '/assets/js/workshop.js'}
