<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body {% if page.categories contains 'error' %}class="error"{% endif %}>
    <div class="page-wrap">
      {% if page.cover %}
        {% include cover.html %}
      {% else %}
        <header class="page-header page-header--nocover">
          {% include nav.html %}
        </header>
      {% endif %}
      <section class="page-main">
        <article class="{{ page.categories }}">
          {{ content }}
        </article>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
