---
layout: default
---

{% unless page.cover %}
  <div class="Post-header">
    <p class="Post-meta u-textUppercase u-textGray">{{ page.year }}</p>
    {% if page.subtitle %}
      <h1 class="Post-title u-mb-0">{{ page.title }}</h1>
      <h2 class="Post-subtitle u-mt-0 u-textGray">{{ page.subtitle }}</h2>
    {% else %}
      <h1 class="Post-title">{{ page.title }}</h1>
    {% endif %}
  </div>
{% endunless %}

<div class="Post-content">
  {{ content }}
  <img class="Post-endMark" src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}">
</div>

<div class="Post-footer u-pt-hidden u-textCenter">
  <p class="Post-meta u-textUppercase u-textGray">See more</p>
  {% if page.previous %}
    <a class="Post-nav Post-nav--prev u-textLeft" href="{{ '/work/' | prepend: site.baseurl | append: page.previous.slug }}">
      <div class="Post-navLabel u-nx-hidden u-inlineBlock">Prev</div>
      <div class="Post-navLabel u-xs-hidden u-inlineBlock u-fullWidth">{{ page.previous.year }}</div>
      <div class="Post-navTitle u-xs-hidden u-textTruncate">{% if page.previous.shortname %}{{ page.previous.shortname }}{% else %}{{ page.previous.title }}{% endif %}</div>
    </a>
  {% endif %}
  {% if page.links %}
    <ul class="Post-related u-inlineList u-mb-0">
      {% for link in page.links %}
        <li><a class="Post-relatedLink u-block u-bgGray" href="{{ link.url }}" title="{{ link.text }}"><i class="fa fa-fw fa-{{ link.icon }}"></i></a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if page.next %}
    <a class="Post-nav Post-nav--next u-textRight" href="{{ '/work/' | prepend: site.baseurl | append: page.next.slug }}">
      <div class="Post-navLabel u-nx-hidden u-inlineBlock">Next</div>
      <div class="Post-navLabel u-xs-hidden u-inlineBlock u-fullWidth">{{ page.next.year }}</div>
      <div class="Post-navTitle u-xs-hidden u-textTruncate">{% if page.next.shortname %}{{ page.next.shortname }}{% else %}{{ page.next.title }}{% endif %}</div>
    </a>
  {% endif %}
</div>

{% include bio.html %}