%div#contact.modal.fade{:tabindex => "-1", :role => "dialog", :'aria-labelledby' => "contactLabel", :'aria-hidden' => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-body
        %button.close{:type => "button", :'data-dismiss' => "modal", :'aria-hidden' => "true"} &times;
        %h3.modal-title
          Contact 
          %div
            %a.twitter-follow-button{:href => "https://twitter.com/s2tephen", :'data-show-count' => "true"} Follow @s2tephen
            %script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %p
          Have questions for me? Want to collaborate? To get in touch with me, follow me on Twitter at <a href="http://twitter.com/s2tephen">@s2tephen</a>. You can also <a href="mailto:ssuen@mit.edu">send me an email</a>, if you're not into the whole brevity thing.