%div.row
  %div.footer.col-xs-12.col-sm-12.col-md-12.col-lg-12
    %div.contact
      %p
        Your Name<br />
        What You Are<br />
        you@example.com
    %div.contact
      %p
        %a{:href => "https://github.com/yourusername"} github.com/yourusername<br />
        %a{:href => "https://twitter.com/yourusername"} twitter.com/yourusername<br />