%div.row
  %div.footer.col-xs-12.col-sm-12.col-md-12.col-lg-12
    %div.credits
      %p.pull-left.hidden-xs
        Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA</a>. Powered by <a href="http://jekyllrb.com/">Jekyll</a>.
      %p.pull-left.visible-xs
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA</a>. Powered by <a href="http://jekyllrb.com/">Jekyll</a>.
      %div.social.pull-right
        %a{:href => 'http://twitter.com/s2tephen'}
          %i.icon-twitter
        %a{:href => 'http://github.com/s2tephen'}
          %i.icon-github
        %a{:href => 'http://linkedin.com/in/s2tephen'}
          %i.icon-linkedin
